<link rel="stylesheet" type="text/css" href="{{plugin_dir_url}}views/assets/css/style.css">

<div class="wrap"><div id="icon-options-general" class="icon32"><br></div>
<div><h2>Mail Form</h2></div>

{{feedback}}

<h1>Formulários <a href="{{admin_url}}admin.php?page=new-mail-form" class="page-title-action">Adicionar Novo</a></h1>

<div>
	<table class="wp-list-table widefat fixed striped forms-list">
		<thead>
			<tr>
				<th>Título</th>
				<th width="200px"></th>
			</tr>
		</thead>
		<tbody id="the-list">
			{{table_rows}}
		</tbody>
	</table>
</div>