<link rel="stylesheet" type="text/css" href="{{plugin_dir_url}}views/assets/css/style.css">

<div class="wrap"><div id="icon-options-general" class="icon32"><br></div>
<div><h2>Mail Form</h2></div>

<h1>Formulários</h1>

{{feedback}}

<div class="postbox register-form clearfix">
	<h2>Configure para quais emails serão enviados os dados dos formulários</h2>
	<p>Obs.: separe os emails por vírgulas, por exemplo: <em><strong>email@example.com.br, example@email.com.br</strong></em></p>
	<form method="post" action="">
		{{forms_fields}}
		<button type="submit" class="page-title-action">Salvar</button>
	</form>
</div>

<script type="text/javascript" src="{{plugin_dir_url}}views/assets/js/script.js"></script>