<link rel="stylesheet" type="text/css" href="{{plugin_dir_url}}views/assets/css/style.css">
<link rel="stylesheet" type="text/css" href="{{plugin_dir_url}}views/assets/css/prism.css">

<div class="wrap"><div id="icon-options-general" class="icon32"><br></div>
<div><h2>Mail Form</h2></div>

<h1>Configurações</h1>

{{feedback}}

<div class="postbox register-form clearfix">
	<form method="post" action="">
		<h2>Google reCaptcha</h2>
		<div class="form-group">
			<label>Site Key</label>
			<input type="text" name="mailformsettings[site_key]" value="{{site_key}}" id="site_key" class="large" required>
		</div>
		<div class="form-group">
			<label>Secret Key</label>
			<input type="text" name="mailformsettings[secret_key]" value="{{secret_key}}" id="secret_key" class="large" required>
		</div>
		<button type="submit" class="page-title-action">Salvar</button>
	</form>
</div>

<ul class="tips">
	<li>
		Para recuperar a <code>site key</code> do <strong>Google reCaptcha</strong> no site é necessário usar o código PHP <code class="language-php">get_option('g_recaptcha_site_key')</code>
	</li>
	<li>
		Para recuperar a <code>secret key</code> do <strong>Google reCaptcha</strong> no site é necessário usar o código PHP <code class="language-php">get_option('g_recaptcha_secret_key')</code>
	</li>
</ul>

<script src="{{plugin_dir_url}}views/assets/js/prism.js"></script>